



<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 mt-3 mb-3">
                <div>
                    <img src="assets/images/signin-pagelogo.jpg" class="img-fluid" alt="signlogo">
                </div> 
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt-3 mb-3">
                <div class="text-center text-white">
                    <h3>WelCome Back</h3>
                    <h6>Signin to your Account</h6>
                </div>
                <div>
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">User Name</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your username with anyone else.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <div class="d-grid gap-2  justify-content-md-start">
                        <button type="submit" class="btn btn-primary text-center">Sigin</button>
                    </div>
                    </form>
                </div>


            </div>


        </div>

    </div>

</div>